* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: linear-gradient(120deg, #0f172a, #2563eb);
    color: white;
    text-align: center;
}

/* HERO SECTION */
header {
    padding: 80px 20px;
}

header h1 {
    font-size: 50px;
}

header p {
    margin: 15px 0;
    opacity: 0.8;
}

/* BUTTON */
button {
    padding: 12px 25px;
    border: none;
    border-radius: 25px;
    background: #38bdf8;
    color: black;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: white;
}

/* FEATURES */
.features {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    flex-wrap: wrap;
}

/* CARDS */
.card {
    background: rgba(255, 255, 255, 0.08);
    padding: 20px;
    border-radius: 15px;
    width: 250px;
    backdrop-filter: blur(10px);
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}